.form {
  background-color: #660000;
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #FFFFFF;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #0000006c;
  color: #FFFFFF;
  resize: vertical;
  max-height: 30rem;
  min-height: 3rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: auto;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #8F0000;
  color: #ffffff;
}

.actions button:hover {
  background-color: #850000;
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #FFFFFF;
}

.actions a:hover {
  color: #c7c7c7;
}