.header {
    margin: 0 5% 1rem 5%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff10;
    border-radius: 0 0 10px 10px;
    gap: 10rem;
    max-height: 5rem;
  }
  
  .logo {
    display: flex;
    height: 8rem;
    padding: 1%;
    border-radius: 50%;
    background-color: #242424;
    box-shadow: 0px 0px 10px #ffffff10;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #ffffff13;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 8px #cfcfcf10;
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #ffffff25;
    color: #ad2b2b;
  }

  