.header {
    /* padding: 2rem 10%; */
    margin: .5rem 5%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fb9090;
    gap: 2rem;
  }
  
  .logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #ece1fa;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #fb9090;
    color: #302626;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #f76c6c;
  }

  